#header{
	color:white;
	position:sticky;
	top:0px;
	z-index:2;
	animation:colorchange 5s ease-in-out infinite;
}
@keyframes colorchange{
	0%{
		background:#16a085;
	}
	25%{
		background:#16a085;
	}
	50%{
		background:#2c3e50;
	}
	75%{
		background:#e67e22;
	}
	100%{
		background:#9b59b6;
	}
}
.logo{
	cursor:pointer;
	text-transform:uppercase;
}
#menu{
	float:right;
	margin:10px auto;
}
#menu li{
	list-style:none;
	display:inline-block;
}
#menu li a{
	text-decoration:none;
	color:white;
	padding:10px;
	text-transform:uppercase;
}
#menu li a:hover{
	background:#27ae60;
}
#content{
	width:100%;
	height:600px;
	background:#607D8B;
}
.image img{
	width:100%;
	height:500px;
	background-size:cover;
	margin-top:60px;
	border:2px solid red;
	border-radius:5px;
}
.heading{
	text-align:center;
	margin-top:100px;
}
.heading h2{
	font-size:50px;
	color:white;
	border-bottom:1px solid red;
}
.heading p{
	padding-top:30px;
	font-size:25px;
	color:white;
	line-height:28px;
	text-align:justify;
	border-bottom:1px solid red;
}

body{
	    position:relative;
	 }
.loading{
	     width:70px;
		 height:70px;
		 border-top:14px solid yellow;
		 border-left:14px solid brown;
		 border-bottom:14px solid green;
		 border-right:14px solid blue;
		 position:absolute;
		 top:4%;
		 left:13%;
		 border-radius:50%;
		 z-index:1;
		 float:left;
		 animation:rotate 2s linear infinite;
	 }
	 @keyframes rotate{
	    0%{
		    transform:rotate(0deg);
		}
	 50%{
	        transform:rotate(360deg);
	 }
	 50%{
	        transform:rotate(-360deg);
	 }
	 100%{
	        transform:rotate(0deg);
	 }
	 }
	 
.loading1{
	    width:6px;
		height:6px;
		background:silver;
		position:absolute;
		top:3%;
		left:10%;
		border-radius:50%;
		border-top:40px solid green;
		border-right:40px solid yellow;
		border-bottom:40px solid blue;
		border-left:40px solid red;
		animation:rotate 2s linear infinite;
		float:left;
		
	 }
	 @keyframes rotate{
	  0%{
	      transform:rotate(0deg);
	    
	    }
	  100%{
	       transform:rotate(360deg);
	      }
	 }	
#showclock{
	    margin:-70px 100px;
		border:1px solid black;
		border-radius:3px;
		width:90px;
		height:30px;
		padding-top:3px;
		
		background:green;
		color:white;
		float:right;
		
	 }	 

.button{
    text-align:center;
	text-transform:uppercase;
	width:100px;
	padding:5px 5px;
	background:red;
	color:white;
	cursor:pointer;
	border:1px solid red;
	border-radius:8px;
	margin-top:20px;
	margin-left:200px;
	transition:all 2s linear;
}
.button:hover{
	color:red;
	background:white;
	transform:scale(1.5);
}

#text{
	text-align:center;
	margin-top:29px;
	font-size:35px;
	letter-spacing:3px;
	color:red;
	cursor:pointer;
	transition:2s;
}

.img1 img{
	width:300px;
	height:300px;
	background-size:cover;
	margin-top:70px;
	margin-left:10px;
	border:1px solid red;
	border-radius:8px;
	cursor:pointer;
	box-shadow:2px 2px 3px 5px grey;
	transition:all 1s linear;
}
.img1 img:hover{
    transform:scale(1.15);
}
.testino{
	margin-top:30px;
	text-align:center;
	font-size:35px;
    letter-spacing:3px;
	color:red;
	cursor:pointer;
	transition:2s;
}
.column{
	border:2px solid red;
	margin-top:40px;
	box-shadow:1px 1px 3px 2px grey;
	border-radius:8px;
	position:relative;
}
.column::before{
	content:"";
	position:absolute;
	width:0%;
	height:100%;
	background:red;
	top:0px;
	left:0px;
	z-index:-1;
	transition:all 0.5s;
}
.column:hover:before{
	width:100%;
	
}

.column img{
	width:70px;
	height:70px;
	margin-left:130px;
	margin-top:10px;
	border-radius:50%;
	
	
}
.column h2{
	padding-left:120px;
}
.column p{
	padding-left:70px;
	font-weight:bold;
}
.pos{
	text-align:center;
	margin-top:60px;
	font-size:35px;
	letter-spacing:3px;
	color:red;
	cursor:pointer;
	transition:2s;
}
.poster img{
	width:330px;
	height:300px;
	background-size:cover;
	margin-top:30px;
	border:2px solid red;
	cursor:pointer;
	border-radius:8px;
	box-shadow:1px 1px 2px 3px grey;
	transition:all 1s linear;
}
.poster img:hover{
	transform:scale(1.15);
}
#footer{
	background:#2f3542;
	margin-top:60px;
}
.foot p{
	color:white;
	margin-top:20px;
	cursor:pointer;
}
.copy{
	color:white;
	text-align:right;
	font-size:35px;
}
.h1{
	font-size:45px;
	text-align:center;
	padding-top:40px;
}
.p{
	font-size:25px;
	text-align:justify;
	padding-top:40px;
}
#product{
	margin-top:30px;
	text-align:center;
	letter-spacing:3px;
	font-size:35px;
}
#product h2{
	color:red;
	text-transform:uppercase;
	font-size:35px;
	cursor:pointer;
	transition:2s;
}
 #slider{
	 overflow:hidden;
  }
  #slider figure{
      position:relative;
	  width:500%;
	  margin:0;
	  left:0;
	  animation:10s slider infinite;
  }
  #slider figure img{
     width:20%;
	 height:400px;
	 float:left; 
	 
  }
  
  @keyframes slider{
     0%{
	     left:0;
	 }
	 20%{
	     left:0;
	 }
	 25%{
	     left:-100%;
	 }
	 45%{
	     left:-100%;
	 }
	 50%{
	     left:-200%;
	 }
	 70%{
	     left:-200%;
	 }
	 75%{
	     left:-300%;
	 }
	 95%{
	     left:-300%;
	 }
	 100%{
	     left:-400%;
	 }
  }
.card{
	margin-top:35px;
	border:2px solid grey;
	border-radius:8px;
}
.card img{
	height:200px;
}
.card .box{
	width:50%;
	margin-left:100px;
	background:red;
	margin-bottom:5px;
	
}
.card .box a{
	text-decoration:none;
	color:white;
}
.card .box:hover{
	background:white;
	border:2px solid red;
	
}
.card .box a:hover{
	color:red;
}
#message{
	width:100%;
	height:600px;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img16.jpg');
	background-size:cover;
}
.center{
	text-align:center;
	margin-top:50px;
	color:white;
	font-weight:bold;
	font-size:35px;
	letter-spacing:3px;
}
.para{
	font-size:25px;
	margin-top:10px;
	color:white;
	font-weight:bold;
	text-align:center;
}
.mess{
	text-align:justify;
	color:white;
}
.mess:hover{
	cursor:pointer;
}
.form{
	width:500px;
	height:360px;
	border:2px solid grey;
}
.form h1{
	text-align:center;
	color:white;
	letter-spacing:3px;
}
.f{
	color:white;
	font-size:20px;
	padding-left:20px;
	margin-top:30px;
}
.bttn{
	width:90px;
	background:red;
	color:white;
	padding:7px;
	font-size:22px;
	border-radius:8px;
}
.bttn:hover{
	background:white;
	color:red;
	border:2px solid red;
	
}

@media only screen and (min-width:200px) and (max-width:567px){
	.heading{
		width:100%;
	}
	#content{
		height:1100px;
	}
	.img1 img{
		margin-left:110px;
	}
	.poster img{
		margin-left:80px;
	}
	.foot p{
		margin-left:160px;
	}
	.copy{
		text-align:center;
		font-size:30px;
	}
	.loading{
		margin-top:-90px;
		margin-right:-70px;
	}
	.loading1{
		margin-top:-70px;
	}
	#message{
		height:900px;
	}
	.form{
		margin-top:10px;
	}
	
}

@media only screen and (max-width:480px){
	
	#menu{
		display:block;
	}
	#menu li{
		font-size:10px;
	}
	.logo{
		text-align:center;
	}
	.heading{
		width:100%;
	}
	.button{
		margin-left:160px;
	}
	#content{
		width:100%;
		height:1150px;
	}
	
	.img1 img{
		margin-left:50px;
	}
	.poster img{
		
	    height:300px;
		margin-top:50px;
		margin-left:35px;
	}
	.foot p{
		margin-left:110px;
	}
	.copy{
		text-align:center;
		font-size:25px;
	}
	.loading{
		margin-top:-90px;
		margin-right:-70px;
	}
	.loading1{
		margin-top:-70px;
	}
	#message{
		height:960px;
	}
	.form{
		margin-top:15px;
		width:379px;
	}
	
}

